# =================================================================
# Arquivos de Dependências e Build (Maven & Gradle)
# =================================================================
# Ignora as pastas de output do Maven e Gradle
/target/
/build/
/out/

# Ignora o cache do Gradle e arquivos de build do NetBeans
.gradle
.nb-gradle/
/nbbuild/
/dist/
/nbdist/

# Exceção para o wrapper do Gradle, que DEVE ser versionado
!gradle/wrapper/gradle-wrapper.jar
!/.mvn/wrapper/maven-wrapper.jar


# =================================================================
# Logs e Arquivos de Runtime
# =================================================================
# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Logs de crash da JVM
hs_err_pid*
replay_pid*


# =================================================================
# Arquivos de IDEs
# =================================================================
# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# STS / Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/bin/

# NetBeans
/nbproject/private/

# VS Code
.vscode/


# =================================================================
# Arquivos de Sistema Operacional
# =================================================================
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini


# =================================================================
# Arquivos Sensíveis e de Configuração Local
# =================================================================
# Arquivos de ambiente que podem conter senhas e chaves de API
*.env
.env.*
!.env.example

## Arquivos de properties específicos do ambiente local
#application-local.yml
#application-dev.yml